html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'IBM Plex Mono', monospace;
}

body {
  max-width: 550px;
  margin: 0 auto;
  grid-gap: 1em;
}

table,
th,
td {
  border: 1px solid gray;
}

td {
  padding: 1px 3px;
}

footer {
  text-align: center;
  margin-top: 200px;
  font-size: 11px;
}
